header {
    background-color: rgb(40, 176, 254);
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

li.nav-item {
    list-style: none;
}

li.nav-item > a {
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-family: "branding";
}

.navbar {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.nav-branding {
    margin: 0 auto;
}

.nav-branding > img {
    width: auto;
    height: 4rem;
    margin: 0 auto;
}

a.nav-link {
    transition: 0.3s ease;
}

a.nav-link:hover {
    color:white;
    text-shadow: rgba(255, 255, 255, 0.426) 1px 0 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav-item {
    border-bottom: 0.1px solid white;
    width: 100%;
    text-align: center;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
    border: 0.1px solid white;
}

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1),
.hamburger.active .bar:nth-child(4) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3),
.hamburger.active .bar:nth-child(5),
.hamburger.active .bar:nth-child(6) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    margin-top: 1rem;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(40, 176, 254);
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-align: center;
    transition: 0.2s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
    position: fixed;
    top: 5rem;
    z-index: 999999;
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
}
