/* Container for the slideshow */
.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

/* Individual slides */
.slide {
  display: none;
  width: 100%;
  position: relative;
}

/* Add fade effect */
.fade {
  animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
  from {
      opacity: 0.4;
  }
  to {
      opacity: 1;
  }
}

/* Description below the image */
.description {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(157, 14, 14, 0.6);
  color: rgba(255, 255, 255, 0.893);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.3125rem; /* 5px to rem */
}

/* Navigation dots */
.dots-container {
  text-align: center;
  margin-top: 0.625rem; /* 10px to rem */
}

.dot {
  height: 0.75rem; /* 12px to rem */
  width: 0.75rem; /* 12px to rem */
  margin: 0.3125rem; /* 5px to rem */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover,
.dot.active {
  background-color: #717171;
}

/* Image styling */
img {
  width: 100%;
  max-width: 30rem; /* 480px to rem */
  height: auto;
  border-radius: 0.625rem; /* 10px to rem */
  margin: 0 auto;
  display: block;
}

/* Controls (next/prev buttons) */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem; /* 16px to rem */
  color: rgb(2, 75, 231);
  font-size: 1rem;
  user-select: none;
  border-radius: 0.1875rem; /* 3px to rem */
  z-index: 10; /* Ensures the arrows are above all other elements */
  background-color: rgba(255, 255, 255, 0.5); /* Improves visibility */
  cursor: pointer;
}

.prev {
  left: 1rem; /* 16px to rem */
}

.next {
  right: 1rem; /* 16px to rem */
}

/* Hover effect */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Media Query for Small Screens */
@media (max-width: 48rem) { /* 768px to rem */
  .prev, .next {
      font-size: 0.8rem; /* 12px to rem */
      padding: 0.75rem; /* 12px to rem */
  }
}

/* Ensures uniform height for slides */
@media (min-width: 48rem) {
  .slide img {
      height: 30rem; /* 480px to rem */
      width: auto;
  }
}
